table, th, td {
    border-collapse: seperate;
    border-spacing: 0;
    margin: 0 auto;
    overflow: hidden;
}

table {
    border-radius: 10px 10px 0 0;
    border: 2px solid rgba(231, 231, 231, 0.4);

    box-shadow: 0 0 10px 5px rgba(68, 68, 68, 0.6);
}

th, td {
    padding: 10px;
    text-align: center; 
}

tr:nth-child(even) {
    background-color: rgba(187, 187, 187, 0.6);
}

tr:nth-child(odd) {
    background-color: rgba(187, 187, 187, 0.3);
}

td {
    position: relative;
    outline: 0;
}