<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <title>Logs</title>
</head>

<style>
    :root {
        --royal-blue-1: #536976;
        --royal-blue-2: #292e49;
    }
    
    body, html {
        height: 100vh;
        margin: 0;

        background: linear-gradient(135deg, var(--royal-blue-1), var(--royal-blue-2) );
    }
    
    .table_view {
        margin-top: 50px;
    }

    th {
        background-color: #d35da2;
        color: white;
    }
</style>

<body>
    {% include "_nav.html" %}

    <div class="table_view"></div>
</body>

<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'table.js' %}"></script>
<script>

    let table_view = document.querySelector('.table_view');

    function loadTable() {
        $.ajax({
            url: "/api/getLog/",
            type: "GET",
            success: function(response) {
                let headers = response['headers'];
                let data = response['data'];

                let table = new Table(table_view, 'logs', headers, data);
            }
        });
    }

    loadTable();

</script>

</html>